/* 
* Filename: app.css
* Author: Shawn Perron 
* Student ID: 301 218 919
* Date: 02/05/2023 
*/


body {
    background-color: #DFDFDE;
    font-family: 'Noto Serif Khojki', serif;
}

body h1 {
    text-align: center;
}

.panel {
    height: 50px;
    background-color: #0F3D3E;
  
  }
.panel p {
    color: white;
}