/* 
* Filename: home.css
* Author: Shawn Perron 
* Student ID: 301 218 919
* Date: 02/05/2023 
*/


body {
    text-align: center;
}
.container {
    width: 600px;
    margin: 50px auto;
    position: relative;
}
.container p {
    margin: 0;
    padding: 0;
    text-align: justify;
}
.Navbuttons {
    padding: 20px;
}

.Navbuttons button {
    background-color: #E2DCC8;
    padding: 10px;
    width: 150px;
    font-size: larger;
}

.customLogo img {
    height: 250px;
    width: 300px;
    border-radius: 30%;
}