.container {
    width: 600px;
    margin: 50px auto;
    position: relative;
}

.container p {
    margin: 0;
    padding: 0;
    text-align: justify;
}

.myPhoto {
    display: block;
}

.myPhoto img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}