<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./content/css/about.css">
    <title>About Me</title>
</head>

<body>
    <h1><%- title %></h1>
    <div class="myPhoto">
        <img src="multimedia/photos/photoMe.jpg">
    </div>
    <div class="container">
        <h2>Shawn Perron</h2>
        <p>
            I'm currently a student in the Software Engineering Technology program at Centennial College. I'm a hopeless
            dilettante interested in music, philosophy, math, science, and history, and why not? Information Technology.
            I look forward to continuing my studies at the college and beyond to acquire new knowledge and skills.
        </p>
</body>

</html>