<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./content/css/contact.css">
    <title>Contact Page</title>
</head>
<body>
    <h1><%- title %></h1>
    <div class="container">
        <div class="contactBox">
            <div class="contactLeft">
                <h3>Your Message</h3>
                <div class="column">
                    <div class="returnAddress">
                            <!--Currently, the contact form has no functionality, but I will add this in a future deliverable as required -->
                        <form>
                            <label for="fname">Name</label>
                            <input type="text" id="name" name="Name" placeholder="Your name...">
                            <label for="name">Email</label>
                            <input type="text" id="email" name="Email" placeholder="Your email...">
                            <label for="phone">Phone</label>
                            <input type="text" id="phone" name="Phone" placeholder="Your phone...">
                            <label for="subject">Subject</label>
                            <textarea id="subject" name="subject" placeholder="Write something.."
                                style="height:150px"></textarea>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="contactRight">
                <h3>Shawn Perron</h3>
                <div class="contactInfo">
                    <p>4 Evaleigh Crt<br>
                        Whitby Ontario <br>
                        L1N8N3 <br>
                        pshawn22@protonmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>