<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./content/css/home.css">
    <title>Homepage</title>
</head>

<body>
    <h1><%- title %></h1>
    <div class="customLogo">
        <img src="multimedia/photos/NavbarLogo.png">
    </div>
    <div class="container">
        <p>
            Greetings! My name is Shawn Perron, and I'm an avid learner interested in exploring new ideas and projects -
            whether simple in nature or complex. I pride myself on delivering high-quality work and am eager to work
            independently and with others to achieve the desired results. Be welcome and explore my page!
        </p>
        <div class="Navbuttons">
            <a href="/about"><button>About Me</button></a>
        </div>
</body>

</html>