<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./content/css/services.css">
    <title>Services Page</title>
</head>
<body>
    <h1><%- title %></h1>
    <div class="customLogo">
        <img src="multimedia/photos/NavbarLogo.png">
    </div>
    <div class="services">
        <h2>Offered Services</h2>
        <h5><strong>General Programming</strong></h5>
        <h6>Java, C#, C, PL/SQL, JavaScript</h6>
        <h5><strong>Web Development (In progress)</strong></h5>
      </div>
</body>
</html>